
body{
    background-image:url(https://img.freepik.com/free-vector/drawn-beautiful-spring-landscape-background_23-2148857331.jpg?w=1480&t=st=1658908550~exp=1658909150~hmac=a26cdbedbfda8ea77653c57f3753e497bf117e6811b7544c195185f00a88abfc);
background-size: cover;
}


.cards{
    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin:20px;
    /* padding: 5px; */
    /* width: 100px; */
    height: 200px;
    background-color: rgb(227, 178, 199);

    text-align:center;
    font-size: 100px;
    line-height: 2;
    font-family: 'Josefin Sans', sans-serif;
     color: floralwhite;
     cursor: pointer;
  
}

.p1{
    color :chocolate;
}

.p2{
    color :chocolate;
}
.cards:hover {
    background-color: yellow;
    font-weight: bold;
      }



#h{    font-family: 'Josefin Sans', sans-serif;
    font-size: 100px;
    font-weight: bold;
    text-align:center;
    color: rgb(77, 9, 9);
    margin-top: -10px;

}
#newGame{
    height: 40px;
    width: 120px;
    margin-top: 20px;
    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    background-color: rgb(227, 178, 199);
    text-align:center;
    font-size: 20px;
    line-height: 0;
    font-family: 'Josefin Sans', sans-serif;
     color: floralwhite;
     margin-left: 85%;
    }


#player1{

    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin-bottom: 20px;
    /* padding: 5px; */
    /* width: 200px; */
    height: 1px;
    background-color: rgb(227, 178, 199);
    text-align:center;
    font-size: 20px;
    line-height: 0;
    font-family: 'Josefin Sans', sans-serif;
     color: floralwhite;
}

#player2{

    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    margin-left:20px;
    /* padding: 5px; */
    /* width: 200px; */
    height: 1px;
    background-color: rgb(227, 178, 199);
    text-align:center;
    font-size: 20px;
    line-height: 0;
    font-family: 'Josefin Sans', sans-serif;
     color: floralwhite;
     
}

.players {
    margin: 20px;
    text-align: center;
  }
  
  #name1 {
    padding: 7px;
    margin: 10px;
  }
  #name2 {
    padding: 7px;
    margin: 10px;
  }
  #numCard {
    padding: 7px;
    margin: 10px;
  }
  
  #submit {
    margin-top: 20px;
    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    /* margin-bottom: 20px;  */
    height: 40px;
    background-color: rgb(227, 178, 199);
    text-align:center;
    font-size: 20px;
    line-height: 0;
    font-family: 'Josefin Sans', sans-serif;
     color: floralwhite;


  }
  #winner{
    margin-left: 38%;
    margin-top: 20px;
    margin-bottom: 30px;
    width: auto;

    border: 2px solid rgb(77, 9, 9);
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
    height: 60px;
    /* background-color: rgb(227, 178, 199); */
    background-color: yellow;
    text-align:center;
    font-size: 20px;
    line-height: 1;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
     color:  rgb(77, 9, 9);
     align-items: center;
  }